* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    }

.container{
    /* display: flex;
    width: 0%;
    justify-content: space-around;
    grid-column-gap: 7rem;
    grid-row-gap: 3rem;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    margin-left: 1.5rem;
    padding-bottom: 40px; */
}

.dogcard{
    width: 300px;
    border-radius: 2%;
    margin: 20px;
    background-color: #ffb5a7;
    /* box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3); */
    backdrop-filter: blur(1rem);
    text-align: center;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3);  
    height: 400px;
    text-decoration: none;
   /* border: 1px solid #e1ecf7; */
   /* background-color: #d5bdaf; */
   /* background-color: #ffdab9; */
    /* background-color: #8a817c; */
   /*     background-color: #E1DAD2; */
}

.dogcard:hover {
    background-color: #e26d5c;
    /* height: 450px;
    width: 310px; */
    /* text-transform: capitalize; */
    /* box-shadow: 5px 5px 30px 7px rgba(220, 85, 247, 0.25),
    -5px -5px 30px 7px rgba(231, 70, 196, 0.22);
    cursor: pointer;
    transform: translateY(15px) */


  

    /* box-shadow: 5px 5px 30px 7px rgba(220, 85, 247, 0.25),
    -5px -5px 30px 7px rgba(231, 70, 196, 0.22);
    cursor: pointer;
    transform: translateY(15px) */


   
      /*width: 300px; */
     /* background-color: #e4856e;
    /* text-transform: capitalize; */
}


.dogcard::before{
    /* content:"";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,rgba(212, 49, 177, 0.5),rgb(241, 68, 232));
    z-index: 2;
    transition: 0.5s all;
    opacity:0; */
}

/* .dogcard:hover:before{
    opacity: 1;
}
 */








.titleName{
    color: #070707;
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
font-family: "carlito";
    font-size: 24px;
    bottom: 10%;
    top: 20%; 
    border-radius: 10%;
    justify-items: center;
    padding: 5px;
    white-space: nowrap; 
    text-overflow: ellipsis; 
   overflow: hidden;
   font-family: "carlito";


}

.cardImage{
    /* width:200px; 
    height:200px;
    border-radius: 10%;
    justify-content: center;
    border-style:outset;
    border-color: rgba(99, 135, 182, 0.781);
    border-width: 7px;

    object-fit: cover */
    
/* margin: auto;
    object-fit: cover;
    height: 100%;
    width: 100%; */
/* 
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
 */
    width: 250px;    
    height:200px;
    border-radius: 5%;
    justify-content: center;
    border-style: double;
    border-color: rgba(8, 8, 8, 0.781);

    /* border-width: 5px; */
}
.subtitle{
    font-family: "carlito";
}
.tempCard{
    color: #0c0c0c;
    justify-content: center;
    border-radius: 10%;
    padding: 5px;
    text-decoration: inherit;
    /* height: 80px; */
font-size: 15px;
font-family: "carlito";




     text-align: center;
  /* white-space: nowrap; 
   text-overflow: ellipsis;  */
  overflow: hidden;
}

.weightCard {
    align-items: flex-end;
    font-family: "carlito";
    font-size: 15px;
    color: #0c0c0c;
    justify-content: center;
    border-radius: 10%;
    padding: 5px;
    text-decoration: inherit;
    margin-top: 7px;
}