* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    }

.container{
    /* display: flex;
    width: 0%;
    justify-content: space-around;
    grid-column-gap: 7rem;
    grid-row-gap: 3rem;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    margin-left: 1.5rem;
    padding-bottom: 40px; */
}

.dogcard{
    width: 300px;
    border-radius: 2%;
    margin: 20px;
    background-color: #ffb5a7;
    /* box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3); */
    backdrop-filter: blur(1rem);
    text-align: center;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3);  
    height: 400px;
    text-decoration: none;
   /* border: 1px solid #e1ecf7; */
   /* background-color: #d5bdaf; */
   /* background-color: #ffdab9; */
    /* background-color: #8a817c; */
   /*     background-color: #E1DAD2; */
}

.dogcard:hover {
    background-color: #e26d5c;
   
}


.dogcard::before{

}

.titleName{
    color: #070707;
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-size: 24px;
    bottom: 10%;
    top: 20%; 
    border-radius: 10%;
    justify-items: center;
    padding: 5px;
    white-space: nowrap; 
    text-overflow: ellipsis; 
   overflow: hidden;
   font-family:"Carlito";

}

.cardImage{

    width: 250px;    
    height:200px;
    border-radius: 5%;
    justify-content: center;
    border-style: double;
    border-color: rgba(8, 8, 8, 0.781);

}
.subtitle{
    font-family:"Carlito";
}
.tempCard{
    color: #0c0c0c;
    justify-content: center;
    border-radius: 10%;
    padding: 5px;
    text-decoration: inherit;
    height: 90px;
font-size: 15px;
font-family:"Carlito";   
  text-align: center;

  overflow: hidden;
  padding: 15px;
}

.weightCard {
    align-items: flex-end;
    
    font-size: 15px;
    color: #0c0c0c;
    justify-content: center;
    border-radius: 10%;
  
    text-decoration: inherit;
   
}
 
p{
    font-family:"Carlito";
}