*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
    
body { 
background-color: #fae1dd;
}

.containerPaginado{    
      display: flex;
      direction: row;
      flex-wrap: wrap;
      justify-content: center; 
      align-items: stretch;
     }

.paginado{
    margin-bottom: 20px;
    display: flex;
        flex-direction: row; 
        justify-content: center;
}

.numberButton{
    width: 35px;
    height: 35px;
    margin-left: 7px;
    margin-right: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerSelect{
   width: 100%; 
   align-items: stretch;
   display: flex;
}

.homeSelect {
        font-size: 15px;
        font-weight: bold;
        color: #fff1e6;
        width: 40%;
        padding: 16px 20px;
        border: medium;
        border-color: black;
        border-radius: 2px;    
        background-color:  #362D25;
        cursor: pointer;      
}

.textPage{
    margin-bottom: 20px;
    font-size: 30px;
    justify-content: space-evenly;
    display: flex;
    align-items: stretch;
    padding: 0px 20px;
    font-weight: bolder;
    color: #362D25;
}

.pageNumber{
    font-family:"Carlito";    
  }