
body {
    background-image: url("https://i.pinimg.com/564x/e5/d4/a6/e5d4a66213157d10a1ede22cfa22113b.jpg")

}

.button_landing {
    /* background-color: antiquewhite;
    padding: 0.5em 1.5em;
    cursor: pointer; */
    margin-top: 1.3em;
    border-color: transparent;
    border-radius: 5px 30px 45px 60px;
    color:black;
    font-family: calibri;
    background-color: #ed5bf0;
    height: 2em;
    
}
.button_landing:hover{/*  */
    background-color: aliceblue;
}