.containerpaginado{
    display: flex;
    direction: row;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: stretch;
}

.paginado{
margin-bottom: 20px;
display: flex;
    flex-direction: row; 
    justify-content: center;
}

.number{
  width: 35px;
  height: 35px;
  margin-left: 7px;
  margin-right: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.numberButton{
  border-radius: 4px;
  width: 100%;
  height: 100%;
  background-color:  #362D25;
color: antiquewhite;
font-size: 18px;
}

.numberButton:hover{
background-color: rgb(230, 159, 159);
color: black; 
}


.numberButton:focus{
  background-color: #a08369;
  color: white;
}
