*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
  
:root {
    --input-color: #99A3BA;
    --input-border: #CDD9ED;
    --input-background: #fff;
    --input-placeholder: #CBD1DC;
    --input-border-focus: #362D25;;
}

.inputSearch {
    
    display: block;
    width: 350px;
    padding: 8px 16px;
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;

    font-family: inherit;
    border-radius: 6px;
    -webkit-appearance: none;
    
    color: var(--input-color);
    border: 3px solid var(--input-border);
    background: var(--input-background);
    transition: border .3s ease;
}
.inputSearch::placeholder {
    color: var(--input-placeholder);
}
.inputSearch:focus {
    outline: none;
    border-color: var(--input-border-focus);
}
 


.searchBox {
     overflow: hidden;
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     align-items: center;
    margin: 0; 
    padding: 0;
 }



 .searchButton{
    border: none;
    background-color: transparent;
    width: 50px;
 }
.iconSearch {
    height: 44px;
    margin: -16px;
}

